*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a, img, span, input, button, ion-icon {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

img {
  height: auto; }

input, button {
  background: none;
  border: none;
  font: inherit;
  color: inherit; }

input {
  width: 100%;
  outline: none; }

button {
  cursor: pointer; }

ion-icon {
  pointer-events: none; }

address {
  font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  background-color: #0f1729;
  color: #7d91b0;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-y: overlay; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #0ea6ec;
  border-radius: 200px; }

.container {
  padding-inline: 16px; }

.hover-1, .hover-2 {
  transition: 0.25s ease; }

.hover-1:is(:hover, :focus-visible) {
  color: #92a8c8;
  transform: translateX(3px); }

.hover-2:is(:hover, :focus-visible) {
  color: #0ea6ec; }

.profile-card, .profile-banner {
  border-radius: 50%; }

.headline {
  color: #bae1f2;
  line-height: 1.3; }

.headline-1 {
  font-size: 2.9rem;
  color: #e6f0ff;
  font-weight: 800; }

.headline-2 {
  font-size: 2rem; }

.headline-3 {
  font-size: 1.8rem;
  line-height: 1.5; }

.section-title {
  margin-inline-end: 10px; }

.headline .span {
  background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.btn {
  background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  background-size: 200%;
  background-position: left;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: 0.25s ease; }

.btn:is(:hover, :focus-visible) {
  background-position: right; }

.btn-primary {
  padding: 8px 16px;
  border-radius: 6px; }

.btn-secondary {
  padding: 18px 30px;
  border-radius: 200px; }

.w-100 {
  width: 100%; }

.card {
  background-color: #131b30;
  border: 1px solid #223044; }

.img-holder {
  aspect-ratio: var(--width)/var(--height);
  background-color: #223044;
  overflow: hidden; }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section {
  padding-block: 70px; }

.section-text {
  font-size: 1.8rem;
  margin-block-end: 70px; }

.grid-lis {
  display: grid;
  gap: 30px; }

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: 1.4rem;
  margin-block: 20px; }

.card-wrapper :is(.card-tag, .wrapper) {
  display: flex;
  gap: 3px;
  align-items: center; }

.header .btn {
  display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 24px;
  background-color: #0f1729;
  z-index: 4; }

.header.active {
  padding-block: 8px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
  border-block-end: 1px solid #223044;
  animation: slideIn 0.5S ease forwards; }

@keyframes slideIn {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; }

.nav-open-btn, .nav-close-btn {
  color: #92a8c8;
  font-size: 3.5rem; }

.navbar {
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background-color: #0f1729;
  padding: 30px;
  z-index: 2;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28); }

.navbar.active {
  transform: translateX(-340px);
  visibility: visible;
  transition: 0.5s cubic-bezier(0.05, 0.83, 0.52, 0.97); }

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  margin-block-end: 15px;
  border-block-end: 1px solid #223044; }

.navbar-list {
  border-block-end: 1px solid rgba(255, 255, 255, 0.15); }

.navbar-link {
  color: #e6f0ff;
  font-weight: 500;
  padding-block: 10px; }

.navbar-bottom {
  padding-block: 30px 20px;
  margin-block: 20px 25px;
  border-block: 1px solid #223044; }

.navbar .profile-card {
  margin-block-end: 15px; }

.navbar .profile-card .card-title {
  color: #bae1f2;
  font-size: 1.4rem;
  font-weight: 600; }

.navbar .profile-card .card-subtitle {
  font-size: 1.2rem; }

.navbar .link-list {
  columns: 2;
  -webkit-columns: 2; }

.navbar-bottom-link {
  color: #e6f0ff;
  font-size: 1.4rem;
  padding-block: 6px; }

.copyright-text {
  color: #e6f0ff;
  font-size: 1.3rem; }

.hero-bg {
  display: none; }

.hero {
  padding-block-start: calc(70px + 160px); }

.hero .container {
  display: grid;
  gap: 50px; }

.hero-subtitle {
  font-size: 1.4rem;
  font-weight: 700; }

.hero .section-title {
  margin-block: 20px; }

.hero .hero-text {
  margin-block-end: 40px; }

.hero .input-wrapper:hover {
  box-shadow: 0px 3px 20px rgba(11, 208, 208, 0.2); }

.hero .input-wrapper {
  position: relative;
  padding: 10px;
  padding-inline-start: 20px;
  background-color: #223044;
  border-radius: 6px;
  border: 1px solid #0ea6ec;
  display: flex;
  justify-content: flex-end;
  transition: 0.25s ease; }

.hero .input-field {
  padding-inline-end: 5px; }

.hero-banner {
  position: relative; }

.hero-banner .w-100 {
  max-width: max-content;
  margin-inline: auto; }

.hero .shape {
  position: absolute;
  z-index: -1;
  animation: heroDecoAnim 3s linear infinite alternate; }

@keyframes heroDecoAnim {
  0% {
    transform: translateY(40px) rotate(0); }
  100% {
    transform: translateY(0) rotate(0.4turn); } }

.hero .shape-1 {
  top: 50px;
  right: 40px; }

.hero .shape-2 {
  bottom: 20px;
  left: 24px; }

.topic-card {
  padding: 24px;
  border-radius: 8px; }

.topic-card .card-content {
  margin-block-end: 15px; }

.topic-card .card-text {
  color: #92a8c8;
  font-size: 1.4rem;
  margin-block: 15px 20px; }

.btn-group {
  display: flex;
  align-items: center;
  gap: 10px; }

.btn-icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  background: #223044;
  border-radius: 50%;
  color: white; }

.btn-icon:is(:hover, :focus-visible) {
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%); }

.slider {
  --slider-items: 1;
  overflow: hidden; }

.slider-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.5s ease; }

.slider-item {
  min-width: 100%; }

.slider-card {
  position: relative; }

.slider-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(0deg, #000d1a, transparent);
  border-radius: 8px; }

.slider-list .slider-banner {
  border-radius: 8px; }

.slider-content {
  position: absolute;
  bottom: 15px;
  left: 15px; }

.slider-title {
  color: #bae1f2;
  font-weight: 700;
  margin-inline-end: 5px;
  transition: 0.25s ease; }

.slider-card:is(:hover, :focus-visible) .slider-title {
  color: #0ea6ec; }

.slider-subtitle {
  font-size: 1.2rem; }

.feature-bg {
  display: none; }

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; }

.feature-card {
  padding: 20px;
  border-radius: 16px;
  transition: 0.25s ease; }

.feature-card:is(:hover, :focus-within) {
  transform: translateY(-5px); }

.feature-card .card-banner {
  border-radius: 16px; }

.feature-card .card-wrapper {
  margin-block-start: 24px; }

.feature .profile-card:is(.card-title, .card-subtitle) {
  color: #66768f; }

.feature .profile-card .card-subtitle, .feature .profile-card .card-btn {
  font-size: 1.4rem; }

.feature-card .card-wrapper:last-child {
  font-size: 1.6rem;
  margin-block-end: 0; }

.feature .card-wrapper .card-btn {
  position: relative;
  color: #92a8c8;
  z-index: 1; }

.feature .card-wrapper .card-btn::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -20px;
  width: 48px;
  height: 48px;
  background-color: #0f1729;
  border-radius: 50%;
  z-index: -1; }

.feature .btn {
  margin-inline: auto;
  margin-block-start: 30px; }

.tags .grid-list {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); }

.tag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px;
  border-radius: 16px; }

.tag-btn:is(:hover, :focus-visible) {
  box-shadow: 0px 3px 20px rgba(11, 208, 208, 0.2);
  background-image: linear-gradient(#131b30, #131b30, linear-gradient(90deg, #0ea5ea, #0bd1d1 51%));
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-2px);
  transition: 0.25s ease; }

.tag-btn img {
  width: 100%;
  max-width: 32px; }

.recent-post .container {
  display: grid;
  gap: 50px; }

.recent-post-card {
  display: grid;
  gap: 30px; }

.recent-post-card .card-banner {
  border-radius: 16px;
  transition: 0.25s ease; }

.recent-post-card:is(:hover, :focus-within) .card-banner {
  transform: translateY(-2px); }

.recent-post-card .card-text {
  color: #92a8c8;
  font-size: 1.4rem;
  line-height: 1.3; }

.recent-post-card .card-badge {
  background-color: #223044;
  max-width: max-content;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 4px 15px;
  border-radius: 200px;
  transition: 0.25s ease; }

.recent-post-card .card-badge:is(:hover, :focus-visible) {
  transform: translateY(-2px);
  background-color: #0ea6ec; }

.recent-post-card .card-title {
  margin-block: 15px 20px; }

.recent-post-card .card-tag {
  gap: 15px;
  color: #66768f; }

.recent-post-card .card-wrapper ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 40px; }

.pagination-btn {
  background-color: #223044;
  color: white;
  font-weight: 700;
  line-height: 1;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: 1; }

.pagination-btn:is(:hover, :focus-visible) {
  background-color: #0ea6ec;
  transform: translateY(-2px); }

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-block-start: 60px; }

.aside-card {
  padding: 25px;
  border-radius: 16px; }

.aside-title {
  margin-block-end: 40px; }

.aside-title .span {
  position: relative; }

.aside-title .span::after {
  content: "";
  display: block;
  width: 96px;
  height: 3px;
  background-color: #0ea6ec;
  margin-block-start: 10px; }

.popular-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-inline-start: 20px; }

.popular-card .card-banner {
  width: 54px;
  flex-shrink: 0;
  border-radius: 50%; }

.popular-list > li:not(:last-child) .card-content {
  border-block-end: 1px solid #223044; }

.popular-card .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  font-size: 1.4rem;
  color: #66768f;
  margin-block: 12px 20px; }

.comment-list > li:not(:last-child) .comment-card {
  padding-block-end: 22px;
  border-block-end: 1px solid #223044;
  margin-block-end: 22px; }

.comment-card .card-text {
  color: #92a8c8;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-block-end: 20px; }

.profile-card .profile-banner {
  width: 30px;
  flex-shrink: 0;
  border-radius: 50%; }

.comment-card .profile-card {
  color: #66768f;
  font-size: 1.4rem; }

.comment-card .card-date {
  font-size: 1.2rem; }

.insta-card .card-text {
  color: #66768f;
  font-weight: 700;
  margin-block: 5px 30px; }

.insta-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px; }

.insta-post {
  border-radius: 8px; }
