.feature-bg{
    display: none;
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feature-card{
    padding: 20px;
    border-radius: $radius-16;
    transition: $transition-1;
}

.feature-card:is(:hover,:focus-within){
    transform: translateY(-5px);
}

.feature-card .card-banner{
    border-radius: $radius-16;
}

.feature-card .card-wrapper{
    margin-block-start: 24px;
}

.feature .profile-card:is(.card-title,.card-subtitle){
    color: $text-slate-gray;
}

.feature .profile-card .card-subtitle, .feature .profile-card .card-btn{
    font-size: $fontSize-6;
}

.feature-card .card-wrapper:last-child{
    font-size: $fontSize-4;
    margin-block-end: 0;
}

.feature .card-wrapper .card-btn{
    position: relative;
    color: $text-wild-blue-yonder;
    z-index: 1;
} 

.feature .card-wrapper .card-btn::before{
    content: "";
    position: absolute;
    top: -13px;
    left: -20px;
    width: 48px;
    height: 48px;
    background-color: $bg-oxford-blue-2;
    border-radius: $radius-circle;
    z-index: -1;
}

.feature .btn{
    margin-inline: auto;
    margin-block-start: 30px;
}



