@media(min-width: 768px){

    // Typography
    $fontSize-1: 6.4rem;
    $fontSize-2: 4.5rem;

    // Reused style
    .container{
        max-width: 720px;
    }

    // Recent post
    .recent-post-card{
        grid-template-columns: 0.7fr 1fr;
    }

}