@media(min-width: 768px){
    
    // Reused style
    .container{
        max-width: 720px;
    }

    .headline-1{
        font-size: 6.4rem;
    }

    .headline-2{
        font-size: 4.5rem;
    }

    // Recent post
    .recent-post-card{
        grid-template-columns: 0.7fr 1fr;
    }

}