@media(min-width: 1200px){

    // Reused style 
    .container{
        max-width: 1140px;
    }

    // header
    .nav-open-btn, .navbar-top, .navbar-bottom, .copyright-text{
        display: none;
    } 

    .navbar{
        all: unset;
        display: block;
    }

    .navbar-list{
        border-block-end: none;
        display: flex;
        gap: 40px;
        margin-inline: auto;
    }

    .header .btn{
        margin-inline-start: 0;
    }

    .navbar-link{
        color: $text-wild-blue-yonder;
        font-weight: unset; 
    }

    .navbar-link:is(:hover, :focus-visible){
        color: $text-carolina-blue;
        transform: translateX(0);
    }


    // Hero
    .hero .container{
        max-width: 1050px;
    }

    // Tags
    .tags .grid-list{
        grid-template-columns: repeat(6, 1fr);
    }

    // Footer
    .footer-top{
        gap: 40px;
        padding-inline: 120px;
    }



}