@media(min-width: 992px){
    // Reused style
    .container{
        max-width: 930px;
    }

    // Hero
    .hero{
        padding-block-start: calc($section-padding + 80px);
    }

    .hero .container{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    // Topics
    .topic-card{
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        align-items: center;
        gap: 20px;
    }

    // Feature
    .feature-list li:nth-child(-n+2){
        width: calc(50% - 15px);
    }

    .feature-list li:nth-child(n+3){
        width: calc(33.33% - 20px);
    }

    .feature-list li:nth-child(n+3) .headline-3{
        $fontSize-2: 2rem;
    }

    // Tags
    .tags .grid-list{
        grid-template-columns: repeat(4, 1fr);
    }

    // Recent post
    .recent-post .container{
        grid-template-columns: 1fr 0.6fr;
        align-items: flex-start;
    }

    // Footer
    .footer-top{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .copyright{
        margin-block-end: 0;
    }


}