@media(min-width: 575px){
    
    /* Reused style */

    .container{
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    // Hero section
    .headline-1{
        font-size: 4.4rem;
    }

    .headline-2{
        font-size: 3.5rem;
    }
    
    .headline-3{
        $fontSize-2: 2.4rem;
    }
    
    // Featured posts
    .section{
        padding-block: 100px;
    }

    /* Header */
    .header .btn{
        display: block;
        margin-inline-start: auto;
    }

    .header.active{
        padding-block: 20px;
    }

    // Hero
    .hero{
        position: relative;
    }

    .hero .input-wrapper{
        max-width: 390px;
    }

    .hero-bg{
        display: block;
        position: absolute;
        pointer-events: none;
    }

    .hero-bg-1{
        display: none;
    }

    .hero-bg-2{
        @include bottomLeft(-200px,-20px);
    }

    .shape-2{
        left: 60px;
    }

    // Topics
    .topics .section-title{
        font-size: 2rem;
    }

    .slider{
        --slider-items: 3;
    }

    .slider-item{
        min-width: calc(33.33% - 13.33px);
    }

    // Feature
    .feature{
        position: relative;
    }

    .feature-bg{
        display: block;
        position: absolute;
        @include topRight(-100px,0);
        pointer-events: none;
    }

    // Recent post
    .recent-post-card{
        @include grid(0.5fr 1fr, 20px);
    }

    .pagination-btn{
        @include dimensions(42px,42px);
    }

    // Aside
    .aside-title{
        $fontSize-2: 2rem;
    }
}