.container{
    padding-inline: 16px;
}

.hover-1, .hover-2{
    transition: $transition-1;
}

.hover-1:is(:hover, :focus-visible){
    color: $text-wild-blue-yonder;
    transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible){
    color: $text-carolina-blue;
}

.profile-card, .profile-banner{
    border-radius: $radius-circle;

}

// HERO SECTION 

.headline{
    color: $text-columbia-blue;
    line-height: $lineHeight-1;
}

.headline-1{
    font-size: $fontSize-1;
    color: $text-alice-blue;
    font-weight: $weight-extraBold;
}

.headline-2{
    font-size: $fontSize-2;
}

.headline-3{
    font-size: $fontSize-3;
    line-height: $lineHeight-2;
}

.section-title{
    margin-inline-end: 10px;
}

.headline .span{
    background-image: $gradient-1;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.btn{
    background-image: $gradient-2;
    background-size: 200%;
    background-position: left;
    color: $white;
    font-size: $fontSize-6;
    font-weight: $weight-bold;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: $transition-1;
}

.btn:is(:hover, :focus-visible){
    background-position: right;
}

.btn-primary{
    padding: 8px 16px;
    border-radius: $radius-6;
}

.btn-secondary{
    padding: 18px 30px;
    border-radius: $radius-pill;
}

.w-100{
    width: 100%;
}