.container{
    padding-inline: 16px;
}

.hover-1, .hover-2{
    transition: $transition-1;
}

.hover-1:is(:hover, :focus-visible){
    color: $text-wild-blue-yonder;
    transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible){
    color: $text-carolina-blue;
}

.profile-card, .profile-banner{
    border-radius: $radius-circle;

}

// HERO SECTION 

.headline{
    color: $text-columbia-blue;
    line-height: $lineHeight-1;
}

.headline-1{
    @include textStyle($fontSize-1,$text-alice-blue,$weight-extraBold);
}

.headline-2{
    font-size: $fontSize-2;
}

.headline-3{
    font-size: $fontSize-3;
    line-height: $lineHeight-2;
}

.section-title{
    margin-inline-end: 10px;
}

.headline .span{
    background-image: $gradient-1;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.btn{
    max-width: max-content;
    @include textStyle($fontSize-6,$white,$weight-bold);
    @include flexbox(center,3px);
    background-image: $gradient-2;
    background-size: 200%;
    background-position: left;
    transition: $transition-1;
}

.btn:is(:hover, :focus-visible){
    background-position: right;
}

.btn-primary{
    padding: 8px 16px;
    border-radius: $radius-6;
}

.btn-secondary{
    padding: 18px 30px;
    border-radius: $radius-pill;
}

.w-100{
    width: 100%;
}

.card{
    background-color: $bg-oxford-blue;
    border: 1px solid $border-prussian-blue;
}

.img-holder{
    aspect-ratio: var(--width) / var(--height);
    background-color: $bg-prussian-blue;
    overflow: hidden;
}

.img-cover{
    @include dimensions(100%,100%);
    object-fit: cover;
}

.section{
    padding-block: $section-padding;
}

.section-text{
    font-size: $fontSize-3;
    margin-block-end: 70px;
}

.grid-list{
    display: grid;
    gap: 30px;
}

.card-wrapper{
    @include flexbox(center,20px);
    justify-content: space-between;
    font-size: $fontSize-6;
    margin-block: 20px;
}

.card-wrapper :is(.card-tag, .wrapper){
    @include flexbox(center,3px);
}



